	Options +FollowSymLinks -MultiViews
	RewriteEngine On

    RewriteRule ^werknemers/?$ werknemers.php [L]
    RewriteRule ^functies/?$ functies.php [L]

    RewriteRule ^werknemers/(.*)$ werknemers.php?id=$1 [L]
    RewriteRule ^functies/(.*)$ functies.php?id=$1 [L]
