@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

::root {
    heebo: 'Heebo', sans-serif;
    dosis: 'Dosis', sans-serif;
  }
  
  body {
    font-family: heebo;
  }